<!DOCTYPE html>
<html lang="en">
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="main-div">
        <form action="/del" method="post" id="form">
            <div id="heading"><h1>TODO App</h1></div>

            <div class="input-rows" style="width: 100%;">
                <label for="">DISCRIPTION</label>
                <textarea name="name" id="" cols="30" rows="2" placeholder="what do you need to do"></textarea>
            </div>
            <div class="input-rows" id="category">
                <label for="">CATEGORY</label>
                <select name="type" class="select">
                    <option value="none">Choose a Category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="cleaning">Cleaning</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="input-rows">
                <label for="">DUE DATE</label>
                <input type="date" class="select" name="date">
            </div>

            <div id="buttons">
                <button type="submit" id="add" formaction="/add"><i class="fas fa-plus"></i>Add Task</button>
            </div>
        </form>
        <div id="task-list">
                <% for (i of tasks){%>
                    <div class="task">
                        <p><%= i.name %></p>
                        <p><i class="fas fa-calendar-alt"></i><span><%= i.date %></span></p>
                        <div class="tag"><%= i.type %></div>
                        <div><a href="/del/<%=i.id%>"><i class="fas fa-trash-alt"></i></a></div>
                    </div>
                <% } %>
        </div>
    </div>
    <script src="./js/index.js"></script>
</body>
</html>