body{
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

#heading{
    color: grey;
    font-size: 2rem;
}

#main{
    display: inline-block;
    width: 40%;
    position: relative;
}

ul{
    margin: 0 auto;
}

.list-item{
    list-style: none;
    background-color: rgb(44, 110, 233);
    color: white;
    font-weight: 700;
    border: 2px solid white;
    text-transform: capitalize;
    text-align: start;
}

.list-item:hover{
    background-color: grey;
}

p{
    display: inline-block;
    padding: 0 30px;
    margin: 7px;
}

.contact{
    position: absolute;
    right: 20px;
}

form{
    margin-left: 33px;
}

input{
    border: none;
    border-bottom: 2px solid black;
    margin: 6px;
}

button{
    background-color: grey;
    color: white;
    border-radius: 3px;
}