
@keyframes rotateCube {
    from{
        transform: rotateY(0deg) rotateZ(0deg);
    }

    50%{
        transform: rotateX(-360deg) rotateY(-360deg) rotateZ(-360deg);
    }
/* 
    50%{
        transform: rotateY(0deg) rotateZ(0deg);
    } */

    to{
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

.cube{
    height: 200px;
    width: 200px;
    margin: 200px;
    transform-style: preserve-3d;
    position: relative;
    perspective: 7000px;
    animation: rotateCube 3s ease-in-out infinite;
}

.face{
    height: 100%;
    width: 100%;
    top: 20%;
    left: 20%;
    perspective: 1000px;
    position: absolute;
    /* transition: all 1s; */
}

.one{
    background-color: skyblue;
}

.two{
    background-color: orange;
    transform: rotateY(90deg) translateZ(-100px) translateX(-100px);
}

.three{
    background-color: plum;
    transform: rotateX(90deg) translateZ(-100px) translateY(100px);  
}

.four{
    background-color: seagreen;
    transform: translateZ(200px);
}

.five{
    background-color: tan;
    transform: rotateY(90deg) translateZ(100px) translateX(-100px);
}

.six{
    background-color: tomato;
    transform: rotateX(90deg) translateY(100px) translateZ(100px);
}